<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>;0<%= title %></p>
    </br>
    <h2>Chi</h2>
    <br>
    <h3>Hola amigos</h3>
    </body>


  </body>
</html>
